.footer {
	clear: both;
	width: 100%;
	&__our {
		width: 100%;
		text-align: center;
		padding: 40px 0;
		ul {
			width: 80%;
			padding: 0;
			margin: 0 auto;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			@media(max-width: 480px) {
				flex-direction: column;
			}
			li {
				display: flex;
				width: 25%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				@media(max-width: 480px) {
					width: 100%;
				}
			}

		}
	}
	&__contact {
		text-align: center;
		width: 100%;
	}
	&__credits {
		// height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 790px) {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
}
	fieldset {
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (max-width: 790px) {
			width: 100%;
		}
			textarea {
				width: 50%;
				margin: 0 auto;
				padding: 5px;
				background-color: #333;
				border: none;
				border-bottom: 1px solid black;
				@media(max-width: 790px) {
					width: 80%;
				}
		}
		.wpcf7-submit {
			background-color: $accentColor;
			color: $mainBG;
			transition: all 0.5s;
			font-weight: bold;
			border: none;
			padding: 10px 15px;
			border-radius: 20px;
			&:hover {
				background-color: $fontColor;
			}
		}
	}
.formRow {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
	.wpcf7-text, .wpcf7-number	{
		width: 95%;
		border: none;
		border-bottom: 1px solid black;
		background-color: #333;
		padding: 5px;
	}
}
.footerLeft {
	position: relative;
	display: flex;
	flex-direction: row;
	i {
		color: $accentColor;
	}
}
