$list: 1 2 3 4 5 6 7 8;
 @each $prevImg in $list {
  .prevWork__#{$prevImg} {   
      background: url("assets/#{$prevImg}.jpeg");
      background-size: cover;
  }
}

section {
	margin: 0 auto;
	padding: 20px 0 50px;
	width: 100%;
	// height: 400px;
	h1, h2, h3, h4 {
		margin: 0;
	}
}
.sectionTitle {
	margin: 0 3%;
	padding-bottom: 30px;
}
#aboutUs {
		ul {
			width: 90%;
			padding: 0;
			margin: 0 auto;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: left;
			@media(max-width: 790px) {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
		li {
			width: 23%;
			padding: 15px;
			border-radius: 25px;
			@media(max-width: 790px) {
				width: 45%;
				margin: 10px;
			}
			@media(max-width: 480px) {
				width: 90%;
				margin: 10px auto;
			}
		}
		h3, p, i {
			padding: 5px 0;
		}
		i {
			padding-top: 20px;
		}
		h3 {
			border-bottom: solid 1px #333;
		}
	}
	.prevWork__lists {
		display: flex;
		flex-direction: column;
		@media(max-width: 790px) {
			flex-direction: row;
		}
		.prevWork__caption {
			opacity: 0;
    		position: absolute;
    		left: 0;
    		bottom: 0;
    		padding: 5px;
		    transition: all 0.5s ease-out;
		    height: 50%;
		    width: 100%;
		    display: block;
		}
		.prevWork__list1, .prevWork__list2 {
			padding: 0;
			margin: 0;
			width: 100%;
			height: 200px;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			@media(max-width: 790px) {
				overflow-y: scroll;
			}
			li {
				width: 25%;
				height: 100%;
				position: relative;
				@media(max-width: 790px) {
					width: 100%;
				}
				&:hover {
					.prevWork__caption {
						opacity: 1;
					}
				}
			}
		}
	}
	#pricing {
		z-index: 5;
		button {
			height: 70px;
			width: 50%;
			border: none;
			border-radius: 25px;
		}
		ul.pricing__list {
			padding: 0;
			margin: 0 auto;
			width: 80%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style: none;
			@media(max-width: 790px) {
				flex-direction: column;
			}
			.pricing__listItem {
				@media(max-width: 790px) {
					margin: 10px;
				}
			}
			li {
				text-align: center;
				width: 24%;
				padding: 20px 0;
				border-radius: 25px;
				@media (max-width: 790px) {
					width: 100%;
				}
			}
		}
		.pricing__border {
			width: 50%;
			margin: 0 auto;
			height: 1px;
			display: block;
			border-bottom: 1px solid $mainBG;
		}
		.pricing__listItem button {
			align-item: flex-end;
		}
		ul.pricing__listItem--features {
			padding: 0;
			width: 100%;
			list-style: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media(max-width: 790px) {
				flex-direction: row;
				width: 80%;
				margin: 0 auto;
			}
			@media(max-width: 480px) {
			flex-direction: column;
			list-style: bullet;
		}
			li {
				width: 80%;
				margin: 0 auto;
				@media(max-width: 790px) {
					width: 25%;
				}
				@media(max-width: 480px) {
					width: 80%;
				}

			}
		}
	}
#latestPost {
	a.blogLink {
		width: 50px;
		height: 40px;
		padding: 5px;
		margin: 0 auto;
		background: $accentColor;
		color: $fontColor;
		transition: all 0.5s;
		&:hover {
			background: $mainBG;
		}
	}
	.FPblogPost {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
		h2 a {
			color: $accentColor;
		}
		.text {
			width: 100%;
		}
	}
}
#newsletterSignup {
		h2 {
			text-align: center;
		}
		input[type="text"] {
			border: none;
			padding: 5px;
		}
		button {
			width: 50%;
			height: 40px;
			border-radius: 25px;
			border: none;
			margin: 0 auto;
			@media(max-width: 790px) {
				width: 75%;
			}

		}
		.newsletterSignup__Input {
			width: 30%;
			height: 100px;
			margin: 0 auto;
			display:flex;
			flex-direction: column;
			justify-content: space-around;
			align-content: center;
			@media(max-width: 790px) {
				width: 50%;
			}
		}
	}