.sidebar {
	width: 30%;
	float: left;
	padding: 25px;
	background: $mainBG;
	@media(max-width: 790px) {
		width: 50%;
	}
	.widget-title {
		border-bottom: 1px solid $fontColor;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}
