$font1: 'Abril Fatface', serif;
$font2: 'Source Sans Pro', sans-serif;
$font3: 'Rock Salt', serif;
$font4: 'Shadows Into Light', serif;

$mainColor: #0093C9;
$mainBG: #3b3c3d;
$fontColor: #fefefe;
$accentColor: #F3302E;
$accentColor2: #BBE5EA;

/* HEADINGS */
h1 {
	font-family: $font3;
	letter-spacing: 0.2rem;
}
h3, h4 {
	color: $fontColor;
	font-family: $font2;
}
/* paragraphs */

h2, p {
	font-family: $font2;
	color: $mainBG;
}
p {
	line-height: 1.5;
}
body {
	color: $mainBG;
	background: $fontColor;
}
.content {
	p {
		color: $mainBG;
	}
}
.sectionTitle {
	color: $accentColor;
}
#aboutUs {
	color: $fontColor;
	ul li {		
	background: lighten($mainBG,20%);
	}
	h3, p, i {
	color: $fontColor;
	}
}
#prevWork {
	background: $fontColor;
	.prevWork__caption {
		background-color: rgba(0,0,0,0.8);	
	   p {
			color: $fontColor;
		    }	
	}
}
#pricing {
	background: $mainBG;
	button {
		background: $accentColor;
		color: $fontColor;
	}
	ul.pricing__list {
		h3 {
			color: $accentColor;
		}
		li {
			background: $fontColor;
		}
	}
}
#latestPost {
		background: $fontColor;
		color: black;
}
#newsletterSignup {
	padding-bottom: 0px;
	h2 {
		color: $accentColor;
	}
	background: $mainBG;
	button {
		background: $accentColor;
	}
}
.blogPost {
	h2, h3, h4, p, a {
		color: $mainBG;
	}
}
/* LINKS */

a {
	color: $fontColor;
	text-decoration: none;
	transition: all 0.5s;
	&:hover {
		color: $accentColor;
	}
}
nav ul li a {
	color: $mainBG;
	&:hover {
		background: $accentColor2;
	}
}
.sidebar {
	.widget-title {
		color: $accentColor;
	}
}
.footer {
	background: $mainBG;
	color: $fontColor;
	p {
		color: $fontColor;
	}
	h2 {
		color: $accentColor;
	}
}
.footerRight i {
		color: $fontColor;
		transition: all 0.5s;
		&:hover {
			color: $accentColor;
		}
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}


/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}